@use 'variables' as var;
@use 'utility-classes' as util;
@use "sass:color";
@use '../utilities/mediaquery-library' as m;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: var.$text-size-default;
    font-family: 'Dosis';
    text-decoration: none;
    color: var.$color-black;
    line-height: var.$line-height-s;

    // outline: 1px solid green; // ENABLE FOR DEBUGGING OVERFLOW
}

// TYPO

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Dosis';
    color: var.$color-red;
}

// LISTS

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    cursor: pointer;
}

// IMAGE

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

// BUTTONS

button {
    all: unset;
    display: inline-block;
    cursor: pointer;
    background-color: var.$color-red;
    color: var.$color-white;
    padding: var.$space-3 var.$space-4;
    transition: all .2s ease-in-out;

    &:hover {
        background-color: color.scale(var.$color-red, $lightness: -20%);
    }
}

// CONTAINERS 

// ANIMATIONS 

h2,
h3,
h4,
h5,
p {
    @include util.animation(fade-in-top, var.$timing-1000);
}

// LOADER

.loader {
    background-color: var.$color-white;
    z-index: 100;
    @include util.size-full-screen(fixed);
    @include util.flex-center;
    @include util.animation($name: none, $duration: var.$timing-500);
}

.arrow {
    color: var.$color-red;
    padding: var.$space-3;
    cursor: pointer;
    border-radius: var.$radius-3;
    width: 40px;
    height: 40px;
    transition: all 0.5s ease-in-out;
    display: inline-block;

    svg {
        height: 100%;
        margin-right: 5px;
        transition: all 0.3s ease-in-out;
    }

    &.right {
        transform: rotate(180deg);
    }

    &.down {
        transform: rotate(270deg);
    }
}