@use 'fonts' as fonts;

// LOGO
$logo-size: 70px;

// COLORS

// main

$color-black: rgb(27, 27, 27); 
$color-white: rgb(255, 255, 255);

$color-black-30: rgba($color-black, 0.3);
$color-black-50: rgba($color-black, 0.5); 
$color-black-70: rgba($color-black, 0.7); 

$color-white-30: rgba($color-white, 0.3);
$color-white-50: rgba($color-white, 0.5);
$color-white-70: rgba($color-white, 0.7);

$color-primary: rgb(81, 0, 255);
$color-on-primary: rgb(55, 0, 173);

$color-secondary: rgb(198, 210, 95);
$color-on-secondary: rgb(148, 157, 71);

$color-tertiary: rgb(99, 146, 175);
$color-on-tertiary: rgb(67, 99, 118);

$color-accent-1: rgb(101, 138, 46);
$color-accent-2: rgb(200, 178, 35);
$color-accent-3: rgb(154, 79, 154);
$color-accent-4: rgb(181, 89, 58);


// colors applied

$color-background: $color-on-primary;
$color-surface: $color-white;

// FONTS

$font-1: fonts.$Roboto;
$font-2: fonts.$Roboto;
$font-3: fonts.$Roboto;

// TEXT SIZES

$text-size-default: 16px;

$text-size-h1: 2.5rem;
$text-size-h2: 2rem;
$text-size-h3: 2rem;
$text-size-h4: 1.5rem;
$text-size-h5: 1.5rem;

$text-size-copy-xs: .6rem;
$text-size-copy-s: .8rem;
$text-size-copy-m: 1rem;
$text-size-copy-l: 1.4rem;
$text-size-copy-xl: 1.8rem;

// SPACES

$space-1: 2px;
$space-2: 5px;
$space-3: 10px;
$space-4: 20px;
$space-5: 50px;
$space-6: 70px;
$space-7: 100px;
$space-8: 200px;
$space-9: 400px;

// GAPS

$gap-1: 5px;
$gap-2: 10px;
$gap-3: 15px;
$gap-4: 20px;

// OUTLINES

$outline-s: $color-black-50 1px solid;
$outline-m: $color-black-50 2px solid;
$outline-l: $color-black-50 3px solid;

// BORDER RADIUS

$radius-1: 3px;
$radius-2: 10px;
$radius-round: 50%;

// TIMING

$timing-200: .2s;
$timing-500: .5s;
$timing-1000: .5s;
$timing-2000: .5s;

$timing-default: $timing-200;

