@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");
.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-in-top {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-in-bottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-out-left {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}
@keyframes fade-out-top {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}
@keyframes fade-out-right {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}
@keyframes fade-out-bottom {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(100%);
  }
}
@keyframes loadingDots {
  0% {
    content: ".";
  }
  33% {
    content: "..";
  }
  66% {
    content: "...";
  }
  100% {
    content: "";
  }
}
h1 {
  font-size: 2.5rem;
  font-family: "Dosis";
  text-decoration: none;
  line-height: 1.4;
  color: #C62E3C;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-family: "Dosis";
  text-decoration: none;
  line-height: 1.4;
  color: #C62E3C;
  font-weight: 700;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.2rem;
  font-family: "Dosis";
  text-decoration: none;
  line-height: 1.4;
  color: #C62E3C;
  font-weight: 700;
  margin-bottom: 20px;
}

.column-2 {
  -moz-column-count: 2;
       column-count: 2;
}
@media (max-width: 1000px) {
  .column-2 {
    -moz-column-count: 1;
         column-count: 1;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Dosis";
  text-decoration: none;
  color: rgb(56, 52, 45);
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Dosis";
  color: #C62E3C;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

button {
  all: unset;
  display: inline-block;
  cursor: pointer;
  background-color: #C62E3C;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  transition: all 0.2s ease-in-out;
}
button:hover {
  background-color: #9e2530;
}

h2,
h3,
h4,
h5,
p {
  animation-name: fade-in-top;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.loader {
  background-color: rgb(255, 255, 255);
  z-index: 100;
  width: 100vw;
  height: 100dvh;
  position: fixed;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loader .loader-text {
  font-size: 1.5rem;
  font-family: "Dosis";
  text-decoration: none;
  line-height: 1.4;
  color: #C62E3C;
  font-weight: 700;
}
.loader .loader-text::after {
  content: ".";
  font-size: 1.5rem;
  font-family: "Dosis";
  text-decoration: none;
  line-height: 1.4;
  color: #C62E3C;
  font-weight: 700;
  animation: loadingDots 1s infinite steps(1);
}

.arrow {
  color: #C62E3C;
  padding: 10px;
  cursor: pointer;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  transition: all 0.5s ease-in-out;
  display: inline-block;
}
.arrow svg {
  height: 100%;
  margin-right: 5px;
  transition: all 0.3s ease-in-out;
}
.arrow.right {
  transform: rotate(180deg);
}
.arrow.down {
  transform: rotate(270deg);
}

#programm ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}
#programm ul li:nth-child(1) {
  transform: rotate(2deg);
  transition: all 0.2s ease-in-out;
}
#programm ul li:nth-child(1):hover {
  transform: rotate(0deg);
}
#programm ul li:nth-child(2) {
  transform: rotate(2deg);
  transition: all 0.2s ease-in-out;
}
#programm ul li:nth-child(2):hover {
  transform: rotate(0deg);
}
#programm ul li:nth-child(3) {
  transform: rotate(2deg);
  transition: all 0.2s ease-in-out;
}
#programm ul li:nth-child(3):hover {
  transform: rotate(0deg);
}
#programm ul li:nth-child(4) {
  transform: rotate(1deg);
  transition: all 0.2s ease-in-out;
}
#programm ul li:nth-child(4):hover {
  transform: rotate(0deg);
}
#programm ul li:nth-child(5) {
  transform: rotate(-1deg);
  transition: all 0.2s ease-in-out;
}
#programm ul li:nth-child(5):hover {
  transform: rotate(0deg);
}
#programm ul li:nth-child(6) {
  transform: rotate(-1deg);
  transition: all 0.2s ease-in-out;
}
#programm ul li:nth-child(6):hover {
  transform: rotate(0deg);
}
#programm ul li:nth-child(7) {
  transform: rotate(2deg);
  transition: all 0.2s ease-in-out;
}
#programm ul li:nth-child(7):hover {
  transform: rotate(0deg);
}
#programm ul li:nth-child(8) {
  transform: rotate(-1deg);
  transition: all 0.2s ease-in-out;
}
#programm ul li:nth-child(8):hover {
  transform: rotate(0deg);
}
#programm ul li:nth-child(9) {
  transform: rotate(0deg);
  transition: all 0.2s ease-in-out;
}
#programm ul li:nth-child(9):hover {
  transform: rotate(0deg);
}
#programm ul li:nth-child(10) {
  transform: rotate(2deg);
  transition: all 0.2s ease-in-out;
}
#programm ul li:nth-child(10):hover {
  transform: rotate(0deg);
}
#programm ul li:nth-child(11) {
  transform: rotate(-1deg);
  transition: all 0.2s ease-in-out;
}
#programm ul li:nth-child(11):hover {
  transform: rotate(0deg);
}
#programm ul li:nth-child(12) {
  transform: rotate(-1deg);
  transition: all 0.2s ease-in-out;
}
#programm ul li:nth-child(12):hover {
  transform: rotate(0deg);
}
#programm ul li:nth-child(13) {
  transform: rotate(-1deg);
  transition: all 0.2s ease-in-out;
}
#programm ul li:nth-child(13):hover {
  transform: rotate(0deg);
}
#programm ul li:nth-child(14) {
  transform: rotate(1deg);
  transition: all 0.2s ease-in-out;
}
#programm ul li:nth-child(14):hover {
  transform: rotate(0deg);
}
#programm ul li:nth-child(15) {
  transform: rotate(2deg);
  transition: all 0.2s ease-in-out;
}
#programm ul li:nth-child(15):hover {
  transform: rotate(0deg);
}
#programm ul li:nth-child(16) {
  transform: rotate(1deg);
  transition: all 0.2s ease-in-out;
}
#programm ul li:nth-child(16):hover {
  transform: rotate(0deg);
}
#programm ul li:nth-child(17) {
  transform: rotate(1deg);
  transition: all 0.2s ease-in-out;
}
#programm ul li:nth-child(17):hover {
  transform: rotate(0deg);
}
#programm ul li:nth-child(18) {
  transform: rotate(2deg);
  transition: all 0.2s ease-in-out;
}
#programm ul li:nth-child(18):hover {
  transform: rotate(0deg);
}
#programm ul li:nth-child(19) {
  transform: rotate(1deg);
  transition: all 0.2s ease-in-out;
}
#programm ul li:nth-child(19):hover {
  transform: rotate(0deg);
}
#programm ul li:nth-child(20) {
  transform: rotate(-1deg);
  transition: all 0.2s ease-in-out;
}
#programm ul li:nth-child(20):hover {
  transform: rotate(0deg);
}
#programm ul .programm-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: rgb(235, 223, 204);
  border-radius: 15px;
  padding: 20px;
  transition: all 0.2s ease-in-out;
}
#programm ul .programm-item:hover {
  background-color: #F8F2E4;
}
#programm ul .programm-item img {
  width: 100px;
  height: 100px;
}
@media (max-width: 500px) {
  #programm ul .programm-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

#panel-bild {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
  gap: 30px;
}
#panel-bild > * {
  flex: 1;
}
#panel-bild .img-container {
  border-radius: 15px;
  overflow: hidden;
}
#panel-bild .img-container img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
@media (max-width: 1000px) {
  #panel-bild {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    flex-direction: column-reverse;
  }
}

.tag-container {
  margin-top: 30px;
}
.tag-container ul {
  margin-top: 30px;
}
.tag-container ul li:nth-child(1) {
  transform: rotate(-1deg);
  transition: all 0.2s ease-in-out;
}
.tag-container ul li:nth-child(1):hover {
  transform: rotate(0deg);
}
.tag-container ul li:nth-child(2) {
  transform: rotate(0deg);
  transition: all 0.2s ease-in-out;
}
.tag-container ul li:nth-child(2):hover {
  transform: rotate(0deg);
}
.tag-container ul li:nth-child(3) {
  transform: rotate(0deg);
  transition: all 0.2s ease-in-out;
}
.tag-container ul li:nth-child(3):hover {
  transform: rotate(0deg);
}
.tag-container ul li:nth-child(4) {
  transform: rotate(1deg);
  transition: all 0.2s ease-in-out;
}
.tag-container ul li:nth-child(4):hover {
  transform: rotate(0deg);
}
.tag-container ul li:nth-child(5) {
  transform: rotate(3deg);
  transition: all 0.2s ease-in-out;
}
.tag-container ul li:nth-child(5):hover {
  transform: rotate(0deg);
}
.tag-container ul li:nth-child(6) {
  transform: rotate(0deg);
  transition: all 0.2s ease-in-out;
}
.tag-container ul li:nth-child(6):hover {
  transform: rotate(0deg);
}
.tag-container ul li:nth-child(7) {
  transform: rotate(-2deg);
  transition: all 0.2s ease-in-out;
}
.tag-container ul li:nth-child(7):hover {
  transform: rotate(0deg);
}
.tag-container ul li:nth-child(8) {
  transform: rotate(-1deg);
  transition: all 0.2s ease-in-out;
}
.tag-container ul li:nth-child(8):hover {
  transform: rotate(0deg);
}
.tag-container ul li:nth-child(9) {
  transform: rotate(3deg);
  transition: all 0.2s ease-in-out;
}
.tag-container ul li:nth-child(9):hover {
  transform: rotate(0deg);
}
.tag-container ul li:nth-child(10) {
  transform: rotate(2deg);
  transition: all 0.2s ease-in-out;
}
.tag-container ul li:nth-child(10):hover {
  transform: rotate(0deg);
}
.tag-container ul li:nth-child(11) {
  transform: rotate(-1deg);
  transition: all 0.2s ease-in-out;
}
.tag-container ul li:nth-child(11):hover {
  transform: rotate(0deg);
}
.tag-container ul li:nth-child(12) {
  transform: rotate(-2deg);
  transition: all 0.2s ease-in-out;
}
.tag-container ul li:nth-child(12):hover {
  transform: rotate(0deg);
}
.tag-container ul li:nth-child(13) {
  transform: rotate(0deg);
  transition: all 0.2s ease-in-out;
}
.tag-container ul li:nth-child(13):hover {
  transform: rotate(0deg);
}
.tag-container ul li:nth-child(14) {
  transform: rotate(3deg);
  transition: all 0.2s ease-in-out;
}
.tag-container ul li:nth-child(14):hover {
  transform: rotate(0deg);
}
.tag-container ul li:nth-child(15) {
  transform: rotate(0deg);
  transition: all 0.2s ease-in-out;
}
.tag-container ul li:nth-child(15):hover {
  transform: rotate(0deg);
}
.tag-container ul li:nth-child(16) {
  transform: rotate(2deg);
  transition: all 0.2s ease-in-out;
}
.tag-container ul li:nth-child(16):hover {
  transform: rotate(0deg);
}
.tag-container ul li:nth-child(17) {
  transform: rotate(2deg);
  transition: all 0.2s ease-in-out;
}
.tag-container ul li:nth-child(17):hover {
  transform: rotate(0deg);
}
.tag-container ul li:nth-child(18) {
  transform: rotate(-1deg);
  transition: all 0.2s ease-in-out;
}
.tag-container ul li:nth-child(18):hover {
  transform: rotate(0deg);
}
.tag-container ul li:nth-child(19) {
  transform: rotate(-2deg);
  transition: all 0.2s ease-in-out;
}
.tag-container ul li:nth-child(19):hover {
  transform: rotate(0deg);
}
.tag-container ul li:nth-child(20) {
  transform: rotate(-2deg);
  transition: all 0.2s ease-in-out;
}
.tag-container ul li:nth-child(20):hover {
  transform: rotate(0deg);
}
.tag-container ul li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: rgb(235, 223, 204);
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
  font-weight: 600;
}
.tag-container ul li:hover {
  background-color: #F8F2E4;
  transform: rotate(0deg);
}

.gallery {
  margin-top: 30px;
}
.gallery .accordion-container .accordion-header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
}
.gallery .accordion-container .accordion-header h3 {
  margin: 0;
}
.gallery .accordion-container .accordion-header .arrow {
  width: 20px;
  height: 20px;
  padding: 0;
}
.gallery .accordion-container .accordion-header .arrow svg {
  margin: 0;
}
.gallery .accordion-container .accordion-content img:last-child {
  margin-bottom: 50px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.image-container img {
  height: 150px;
  width: auto;
  transition: all 0.3s ease-in-out;
}
.image-container img:hover {
  filter: brightness(1.1);
}/*# sourceMappingURL=layout.css.map */