{% extends "base" %}

{% block bodyblock %}

	{% include "_modules/header.twig" %}

	{% if entry.title|length %}
		<h2>{{ entry.title }}</h2>
	{% endif %}

	{% if entry.fragenStruktur|length %}
		<div class="faq-container">
			{% for frage in entry.fragenStruktur %}
				<div class="panel frage accordion-container">
					{% if frage.frage|length %}
						<div class="faq-question-container accordion-header">
							<h3 class="faq-question">{{ frage.frage }}</h3>
							<span class="arrow right">
								{% include "_svgs/arrow.twig" %}
							</span>
						</div>
					{% endif %}

					{% if frage.antwort|length %}
						<div class="faq-answer accordion-content">
							<p>{{ frage.antwort }}</p>
						</div>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	{% else %}
		<p>Keine Fragen vorhanden.</p>
	{% endif %}

{% endblock %}

{% block scriptblock %}
	<script src="{{ siteUrl('assets/js/utilities/accordion.js') }}"></script>
{% endblock %}
