
{% extends "base" %}



{% block bodyblock %}
	

	{% include "_modules/header.twig" %}


	<div class="panel">

		{% if entry.title|length %}
			<h2>{{ entry.title }}</h2>
		{% endif %}

		{% if entry.textBlock|length %}
			<p>{{ entry.textBlock }}</p>
		{% endif %}

		{% include "_modules/gallery-login.twig" %}
	</div>


{% endblock %}

{% block scriptblock %}
	 <script src="{{ siteUrl('assets/js/utilities/accordion.js') }}"></script>
{% endblock %}
