{% extends "base" %}

{% block bodyblock %}

	{% include "_modules/header.twig" %}

	<h1>
		Imprint
	</h1>

	{% include "_modules/footer.twig" %}

{% endblock %}

{% block scriptblock %}

{% endblock %}
