{% extends "base" %}

{% block bodyblock %}
	{% include "_modules/header.twig" %}

	{% if entry.title|length %}
		<h2>{{ entry.title }}</h2>
	{% endif %}

	{% include "_modules/footer.twig" %}

{% endblock %}

{% block scriptblock %}

{% endblock %}
