{% extends "base" %}

{% block bodyblock %}
	{% include "_modules/header.twig" %}

	<div class="panel">
		{% if entry.title|length %}
			<h2>{{ entry.title }}</h2>
		{% endif %}

		{% if entry.email|length %}
			<a href="mailto:{{entry.email}}">{{ entry.email }}</a>
		{% endif %}
	</div>


{% endblock %}

{% block scriptblock %}{% endblock %}
