<nav>
	{% if globalsNav.navigation|length %}
		<ul>
			{% for navItem in globalsNav.navigation %}
				<li>
					<a
						href="{{navItem.url}}"
						class="{% if craft.app.request.getSegment(1) == 'contact' %}active{% endif %}">
						{{navItem.title}}
					</a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
</nav>
